.loginForm,
.regForm{
  text-align: center;
  background: white;
  width: 300px;
  height: 200px;
  margin: 1% auto 0 auto;
  padding: 50px;
  border-radius: 30px;
  box-sizing: border-box; }

#username {
  margin-bottom: 20px;
  width: 100%; }

#password {
  width: 100%;
  margin-bottom: 10px; }

.loginForm,
.regForm,
.joinHouseholdBtn,
.deleteActivityBtn,
.addActivityBtn,
.backBtn,
#openHouseholdBtn,
#logUserBtn,
.createHouseholdBtn
{
  font-size: 16px;
  background-color: #c5c5c5;
  border-radius: 8px;
  display: block;
  margin: 10px auto 5px auto; }

.activityItem,
.activitiesItem,
.householdName,
th {
  border: 1px solid black;
  text-align: center; }

#activitiesTable,
#addressTable {
  width: 60%;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

#projectName,
#regName {
  text-align: center;
  font-size: 3em;
  color: #1b1b1b;
  margin-top: 10%; }

#regLink {
  text-align: center;
  color: blue; }

#createHouseForm {
  display: block;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #c5c5c5;
  text-align: center;
  width: 230px;
  margin: auto;
  width:50%;
  padding-top: 80px;
  padding: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.profilePageHeadings,
.householdContainer {
  text-align: center; }

.headerMessage,
.currentHousehold,
.currentHouseholdMembers,
.allHouseholdActivites,
.createHouseholdLbl {
  text-align: center; }

/* header */

.homeHeader {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px;
}

.homeHeader a{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.homeHeader a:hover {
  background-color: #ddd;
  color: black;
}

.headerLeft {
  float: left;
}