
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Activity</title>
    <link rel="stylesheet" type="text/css" href="../styles/css/style.css"/>
</head>
<body>
    <div class="homeHeader">
        <div class="headerLeft">
            <ul class="nav_list">
                <a href="/profile">View your profile</a>
                <a href="/logout">Logout</a>
            </ul>
        </div>
</div>
    <form action="/home/<%= house %>/activities" method="POST">
        <input type="text" name="title" placeholder="Title"></input>
        <input type="text" name="description" placeholder="Description"></input>
        <input type="datetime-local" name="enddate"/>
        <button id="addActivityBtn">Add Activity</button>
    </form>
    <input class="backBtn" name="action" type="submit" value="Back" onclick="window.history.back();"/> 
</body>
</html> 