<h1>You are logged in</h1>

<label>Create a household?</label>
<form action="/home" method="POST">
    <input type="text" name="address" placeholder="Address"></input>
    <button>Create</button>
</form>


<li><a href="/logout">Logout</a></li>