
<h1>Time Manager</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Login</button>
</form>

<% for(let i=0; i<errors.length; i++) { %>
    <li style="font-weight: bold"><%= errors[i] %></li>
<% } %>

<li><a href="/register">Sign Up!</a></li>