<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../styles/css/style.css"/>
</head>
<body>
    <h1 id="regName">Roommate Registration</h1>
    <div class="regForm">
        <form action="/register" method="POST">
            <input class="registerInput" type="text" name="username" placeholder="Username">
            <input class="registerInput" type="text" name="name" placeholder="Name">
            <input class="registerInput" type="email" name="email" placeholder="Email">
            <input class="registerInput" type="password" name="password" placeholder="Password">
            <button id="registerBtn">Register</button>
        </form>
        <a href="/">Login</a>
    </div>
</body>
</html>