<h1>Register Page</h1>
<form action="/register" method="POST">
    <label>Username: </label>
    <input type="text" name="username" placeholder="Username">
    <label>Password: </label>
    <input type="password" name="password" placeholder="Password">
    <label>Name: </label>
    <input type="text" name="name" placeholder="Name">
    <label>Email: </label>
    <input type="email" name="email" placeholder="Email">
    <button>Submit</button>
</form>
<li><a href="/login">Sign In!</a></li>