// LOGIN PAGE
.loginForm,
.regForm {
  text-align: center;
  background: white;
  width: 300px;
  margin: 1% auto 0 auto;
  padding: 20px 20px 20px 20px;
  border-radius: 33px;
}

.loginForm,
.regForm,
.joinHouseholdBtn,
.deleteActivityBtn,
#logUserBtn {
  font-size: 16px;
  background-color: #972d2d;
  border-radius: 8px;
  display: block;
  margin: 10px auto 5px auto;
}

#projectName,
#regName {
  text-align: center;
  font-size: 3em;
  color: #1b1b1b;
  margin-top: 10%;
}

#regLink {
  text-align: center;
  color: blue;
}

// REGISTER PAGE

// HOME PAGE
#createHousePage {
}

#createHouseForm {
  display: block;
  width: 200px;
  margin: 5px;
  float: right;
  padding-top: 80px;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
