$primary-color: rgba(123, 158, 233, 0.388);
$secondary-color: rgb(213, 229, 238);
$hover-color: rgb(150,200,233);

html{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#username {
  margin-bottom: 20px;
  width: 100%; }

#password {
  width: 100%;
  margin-bottom: 10px; }

.joinHouseholdBtn,
.deleteActivityBtn,
.addActivityBtn,
.backBtn,
#openHouseholdBtn,
#logUserBtn,

#registerBtn,
.createHouseholdBtn
{
  font-size: 16px;
  background-color: $secondary-color;
  border-radius: 8px;
  display: block;
  margin: 10px auto 5px auto; }

.activityItem,
.activitiesItem,
.householdName,
th {
  border: 1px solid black;
  text-align: center; }

#activitiesTable,
#addressTable {
  width: 60%;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

#projectName,
#regName {
  text-align: center;
  font-size: 3em;
  color: #1b1b1b;
  margin-top: 10%; }

#regLink {
  text-align: center;
  color: blue;
}

#createHouseForm {
  display: block;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: $primary-color;
  text-align: center;
  width: 230px;
  margin: auto;
  width:50%;
  padding-top: 80px;
  padding: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.profilePageHeadings,
.householdContainer {
  text-align: center; }

.headerMessage,
.currentHousehold,
.currentHouseholdMembers,
.allHouseholdActivites,
.createHouseholdLbl {
  text-align: center; }


/* header */

.homeHeader {
  overflow: hidden;
  background-color: $primary-color;
  padding: 10px;
}


.homeHeader a{
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.homeHeader a:hover {
  background-color: $hover-color;
  color: black;
}

.headerLeft {
  float: left;
}

.registerInput{
  width: 100%;
  margin-top: -20px;
  margin-bottom: 10px;
}

.regForm{
  text-align: center;
  background: white;
  width: 320px;
  height: 240px;
  margin: 1% auto 0 auto;
  padding: 50px;
  border-radius: 30px;
  box-sizing: border-box; 
  font-size: 16px;
  background-color: $primary-color;
  border-radius: 8px;
  display: block;
  margin: 10px auto 5px auto;
}

.loginForm{
  text-align: center;
  background: white;
  width: 280px;
  height: 190px;
  margin: 1% auto 0 auto;
  padding: 50px;
  border-radius: 30px;
  box-sizing: border-box; 
  font-size: 16px;
  background-color: $primary-color;
  border-radius: 8px;
  display: block;
  margin: 10px auto 5px auto;
}

